{% extends 'layout/default.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "Hexlet Task Manager" %} | {% translate "Statuses" %}{% endblock %}
{% block content %}
    <h1 class="my-4">{% translate "Statuses" %}</h1>
    <a href="{% url 'create_status' %}" class="btn btn-primary mb-2" role="button">{% translate "Create status" %}</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th colspan="2">{% translate "Creation date" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td class="align-middle">{{ status.id }}</td>
                <td class="align-middle">{{ status.name }}</td>
                <td class="align-middle">{{ status.date_created|date:"d.m.Y H:i" }}</td>
                <td class="align-middle">
                    <a href="{% url 'update_status' status.id %}">{% translate "Update" %}</a>
                    <br>
                    <a href="{% url 'delete_status' status.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}