{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "HexletTaskManager" %} | {% translate "Labels" %}{% endblock %}
{% block content %}
    <h1 class="my-4">{% translate "Labels" %}</h1>
    <a href="{% url 'create_label' %}" class="btn btn-primary mb-2" role="button">{% translate "LabelCreate" %}</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th colspan="2">{% translate "CreationDate" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for label in labels %}
            <tr>
                <td class="align-middle">{{ label.id }}</td>
                <td class="align-middle">{{ label.name }}</td>
                <td class="align-middle">{{ label.date_created|date:"d.m.Y H:i" }}</td>
                <td class="align-middle">
                    <a href="{% url 'update_label' label.id %}">{% translate "Update" %}</a>
                    <br>
                    <a href="{% url 'delete_label' label.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}