{% extends 'layout/default.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "HexletTaskManager" %} | {% translate "Tasks" %}{% endblock %}
{% block content %}
    <h1 class="my-4">{% translate "Tasks" %}</h1>
    <a href="{% url 'create_task' %}" class="btn btn-primary mb-2" role="button">{% translate "TaskCreate" %}</a>

    <div class="card mb-3">
        <div class="card-body bg-light">
            <form method="get">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="text-center"><label for="{{ filter.form.status.id_for_label }}">{% translate "Status" %}</label></div>
                                <div>{{ filter.form.status }}</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="text-center"><label for="{{ filter.form.executor.id_for_label }}">{% translate "Executor" %}</label></div>
                                <div>{{ filter.form.executor }}</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="text-center"><label for="{{ filter.form.labels.id_for_label }}">{% translate "Label" %}</label></div>
                                <div>{{ filter.form.labels }}</div>
                            </div>
                        </div>
                    </div>
                    {% if filter.form.status.errors or filter.form.executor.errors or filter.form.labels.errors %}
                    <div class="row">
                        <div class="col-4"><small class="text-danger">{{ filter.form.status.errors }}</small></div>
                        <div class="col-4"><small class="text-danger">{{ filter.form.executor.errors }}</small></div>
                        <div class="col-4"><small class="text-danger">{{ filter.form.labels.errors }}</small></div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="form-group">
                                <div class="ml-3">
                                    {{ filter.form.self_tasks }}
                                    <label for="{{ filter.form.self_tasks.id_for_label }}">{% translate "SelfTasksOnly" %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <input class="btn btn-primary" type="submit" value="{% translate 'ShowFilteredTasks' %}">
                            <a href="{% url 'tasks_list' %}" class="btn btn-secondary ml-2" role="button">{% translate "ResetForm" %}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Author" %}</th>
            <th>{% translate "Executor" %}</th>
            <th colspan="2">{% translate "CreationDate" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td class="align-middle">{{ task.id }}</td>
                <td class="align-middle"><a href="{% url 'task_details' task.id %}">{{ task.name }}</a></td>
                <td class="align-middle">{{ task.status }}</td>
                <td class="align-middle">{{ task.author }}</td>
                <td class="align-middle">{{ task.executor|default:_("NotAssignedYet") }}</td>
                <td class="align-middle">{{ task.date_created|date:"d.m.Y H:i" }}</td>
                <td class="align-middle">
                    <a href="{% url 'update_task' task.id %}">{% translate "Update" %}</a>
                    <br>
                    <a href="{% url 'delete_task' task.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}